In [10]:
# import pandas module 
import pandas as pd

In [11]:
# make data frame from csv file 
df1 = pd.read_csv("data/gwlstations.csv")

In [12]:
# make a copy of old data frame 
df2 = pd.read_csv("data/gwlstations.csv")

In [13]:
# create a value with all null values in copy data frame 
df2["Null Column"]= None

In [14]:
# check if column is inserted properly  
print(df1.columns.values, "\n", df2.columns.values)

['STATION' 'SITE_CODE' 'STNAME' 'WELL_NAME' 'LATITUDE' 'LONGITUDE'
 'LLDATUM' 'POSACC' 'ELEV' 'ELEVDATUM' 'ELEVACC' 'COUNTY_NAME'
 'BASIN_CODE' 'BASIN_NAME' 'WELL_DEPTH' 'WELL_USE' 'WELL_TYPE' 'WCR_NO'
 'WDL' 'COMMENT']
 ['STATION' 'SITE_CODE' 'STNAME' 'WELL_NAME' 'LATITUDE' 'LONGITUDE'
 'LLDATUM' 'POSACC' 'ELEV' 'ELEVDATUM' 'ELEVACC' 'COUNTY_NAME'
 'BASIN_CODE' 'BASIN_NAME' 'WELL_DEPTH' 'WELL_USE' 'WELL_TYPE' 'WCR_NO'
 'WDL' 'COMMENT' 'Null Column']

In [15]:
# compare values before dropping null column 
print("\nColumn number before dropping Null column\n", 
       len(df1.dtypes), len(df2.dtypes))

Column number before dropping Null column
 20 21

In [16]:
# drop columns with any null values 
df2.dropna(axis = 1, how ='any', inplace = True)

In [17]:
# compare values after dropping null columns 
print("\nColumn number after dropping Null column\n", 
      len(df1.dtypes), len(df2.dtypes))

Column number after dropping Null column
 20 10

In [18]:
# make csv from data frame
df2.to_csv("data\gwlstations-dropna.csv", index=None, header=True)